
@{
    ViewData["Title"] = "ExceedMaxCostWarning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your order total cannot exceed $250.00. Please try again.</h1>
<p>
    <a asp-action="WelcomeUser" asp-controller="Home">Go back</a>
</p>

