
@{
    ViewData["Title"] = "TimespanWarning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You cannot order from this location for 24 hours. Please try again.</h1>
<p>
    <a asp-action="WelcomeUser" asp-controller="Home">Go Back</a>
</p>

